* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* padding: 20px 20px;
    background-color: #def5fa; */
    /* background-color: lightblue; */
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}
.certificate-section{
width: 100%;
height: auto;
}
.certificate-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.certificate-box{
    width: 350px;
    height: 500px;
    background-image: url(./assets/fssai-certificate.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}