* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* padding: 20px 20px;
    background-color: #def5fa; */
    /* background-color: lightblue; */
}


.contact-section {
    width: 100%;
    height: auto;

}

.contact-full-area {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 80px;
    padding: 70px;

}

.contact-left {
    width: 50%;
    /* background-color: hotpink; */
}

.contact-right {
    width: 50%;
    height: auto;
}

.contact-right {
    width: 40%;
    background: rgba(144, 209, 233, 0.35);
    padding: 40px;
    border-radius: 25px;
}

.contact-right h2 {
    font-size: 34px;
    margin-bottom: 25px;
}

.contact-right span {
    font-style: italic;
}

.contact-box-1st {
    width: 100%;
    background-color: #def6fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.cBox {
    /* background-color: yellow; */
    padding: 5px 20px;

    h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    i {
        margin-right: 5px;
        font-size: 25px;
        font-weight: 300;
    }
}

.cEbox {
    border-left: 1px solid beige;
}

.contact-box2 {
    /* background-color: rgb(61, 32, 47); */
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.cBoxx {
    width: 50%;
    height: 130px;
    background-color: #def6fa;
    border-radius: 10px;
    padding: 20px;

    h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    i {
        margin-right: 5px;
        font-size: 25px;
        font-weight: 300;
    }
}

.sub-title i {
    color: #017b94;
}
.map-area{
    width: 100%;
    height: 100%;

    iframe{
        width: 100%;
        height: 100%;
            border-radius: 10px;
    }
}

@media (max-width: 1150px) {
    .contact-full-area {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 30px;
    }

    .contact-left {
        width: 90%;

    }

    .contact-right {
        width: 90%;

    }

    .contact-box-1st {
        text-align: start;
    }

}

@media (max-width: 980px) {}

@media (max-width: 750px) {

    .contact-full-area {
        padding: 10px;
        gap: 20px;
    }

    .contact-left {
        width: 100%;

    }

    .contact-right {
        width: 100%;

    }
    .cBoxx {
    width: 50%;
    height: 150px;
    }
    .map-area{
        height: 70%;
    iframe{
        width: 100%;
        height: 100%;
    }
}

}

@media (max-width: 600px) {
    .contact-full-area {
        padding: 20px;
        gap: 20px;
    }
    .contact-box-1st{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        /* background-color: red; */
        h3{
            font-size: 25px;
        }
        i{
            font-size: 20px;
        }
    }
    .cEbox{
        border-left: none;
    }
    .contact-box2{
        flex-wrap: wrap;
    }
    .cBoxx{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 450px) {}