* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* padding: 20px 20px;
    background-color: #def5fa; */
    /* background-color: lightblue; */
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}
.product-section-product{
    width: 100%;
    /* background-color: red; */
    padding: 20px;
}
.product-section-area{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* gap: 300px; */
}
.product-btn-area{
    width: 100%;
    height: auto;
    /* background-color: pink; */
}
.product-btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    li{
        list-style: none;
        background-color: rgb(255, 255, 255);
        padding: 8px 15px;
        color: #017b94;
        border: 1px solid #017b94;
        border-radius: 10px;
        font-size: 15px;
    }
    .active{
        background-color: #017b94;
        color: white;
    }
}
.product-box-area{
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    gap: 50px;
}
.product-boxx{
    width: 280px;
    height: 350px;
    background-color: #faf7f5;
    padding: 20px;
}
.product-box-content-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 230px;
    }
    h2{
        font-size: 20px;
        padding: 15px 0;
    }
    p{
        padding-bottom: 15px;
    }
    button{
        background-color:#017b94 ;
        padding:8px 15px;
        border: none;
        border-radius: 10px;
    }
    a{
        color: white;
        text-decoration: none;
    }
}