* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* padding: 20px 20px;
    background-color: #def5fa; */
    /* background-color: lightblue; */
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
}
.rd-fig-team{
    width: 500px;
    height: 500px;
    background-color: pink;
    background-image: url(./assets/figur.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
border-radius: 20px;
}
.pas-exp-section{
    width: 100%;
    height: auto;

}
.pas-exp-area{
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    h1{
        font-size: 2rem;
                margin-bottom: 20px;
    }
    span{
        font-style: italic;
        font-weight: 300;
    }
    p{
        font-size: 16px;
        color: rgb(70, 70, 70);
        line-height: 22px;
    }
}
.pas-exp-left-area{
    width: 40%;
    height: auto;
}
.pas-exp-left-bottom-area{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* gap: 20px; */
    margin-top: 20px;
    .pas-exp-box{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 45%;
        /* background-color: pink; */
        padding: 8px 0px;
        gap: 10px;
    }
    i{
        background-color: hotpink;
        color: white;
        padding: 1px;
        font-size: 10px;
        border-radius: 50px;
    }
}
.pas-exp-right-area{
    width: 40%;
}

 .contact-section-container{
        width:100%;
        display:flex;
        justify-content:center;
        gap:100px;
        flex-wrap:wrap;
        padding: 120px;
    }

    .left-capacity-box{
        width:45%;
        height: auto;
    }

    .left-capacity-box h2{
        font-size:2.5rem;
        margin-bottom:5px;
        span{
            font-style: italic;
            font-weight: 300;
        }
    }

    .left-capacity-box p{
        color:#555;
        font-size:15px;
        margin-bottom:10px;
        line-height:1.5;
    }
    .leftf-cap-para{
        width: 85%;
    }

    .rang-title{
        font-weight:600;
        display: flex;
        justify-content: space-between;
    }

    .rang{
        width:100%;
        height:14px;
        background:#cfe6f8;
        border-radius:10px;
        position:relative;
        overflow:hidden;
        margin-bottom:30px;
    }

    .bar-fill{
        height:100%;
        background:#0b6dd8;
        border-radius:10px;
        position:absolute;
        left:0;
        top:0;
    }

    .percent{
        position:absolute;
        right:0;
        top:-22px;
        font-size:14px;
        font-weight:600;
    }

    .right-contact-box{
        width:40%;
        background:rgba(144,209,233,0.35);
        padding:40px;
        border-radius:25px;
    }

    .right-contact-box h2{
        font-size:34px;
        margin-bottom:25px;
    }

    .right-contact-box span{
        font-style:italic;
    }

    .input-row{
        display:flex;
        gap:20px;
        margin-bottom:20px;
    }

    input, textarea{
        width:100%;
        padding:14px;
        border-radius:10px;
        border:1px solid #d7d7d7;
        font-size:15px;
    }

    textarea{
        height:130px;
        resize:none;
        margin-bottom:20px;
    }

    button{
        padding:12px 22px;
        background:#0b6dd8;
        color:white;
        border:none;
        border-radius:10px;
        font-size:16px;
        cursor:pointer;
         i{
        color: hotpink;
        font-size: 20px;
    }
    }
    ::placeholder{
        color: black;
    }
   
