@font-face{
  font-family: pop;
  src: url(./Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: #def5fa;
    /* background-color: lightblue; */
}
::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    /* background-color: red; */
}
.nav-item{
    width: 100%;
    /* height: 30%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    font-family: "Roboto", sans-serif;



}

.logo-class img{
    width: 100px;
    height: auto;
}

.nav-menu{

    display: flex;
    align-items: center;
    gap: 1rem;
        margin-left: 10%;
    list-style: none;
}
ul li a{
    text-decoration: none;
  font-family: pop;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color: black;
}

.icon-area{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 1rem;
    /* background-color: pink; */
}
.area-icon{
  display: flex;
gap: 10px;  
}
.icon-area i{
    border: 1px solid black;
     /* padding: 0.50rem 1rem;  */
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 20px;
    color:#017b94 ;
    border-color: #f26ba8;
}
.primary-btn-nav {
      background-color:#017b94;  
  padding:5px 24px ;
  color: #fff;                 
  font-size: 1rem;            
  font-weight: 400;
  border: none;
  border-radius: 8px;          
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-btn-nav i{
  border: none;
  color: white;
  font-weight: 400;
  /* margin-left: 10px; */
  font-size: 20px;
}
.primary-btn {
      background-color:#017b94;  
  padding:15px 24px ;
  color: #fff;                 
  font-size: 1rem;            
  font-weight: 400;
  border: none;
  border-radius: 8px;          
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-btn i{
  border: none;
  color: white;
  font-weight: 400;
  /* margin-left: 10px; */
  font-size: 20px;
}
.res-icon{
    display: none;
}
.landing-page-class{
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
            background-image:linear-gradient(rgba(0, 0, 0, 0.768)), url(./assets/background.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
    margin-bottom: 20px;
}
.landing-page-contain-area{
        width: 100%;
    height: auto;
            display:flex;
        align-items: start;
        justify-content: center;
    /* background-color: rgba(255, 0, 0, 0.316); */
    /* padding: 4rem 0; */
}
.landing-page-contain{
    width: 45%;
    height: auto;
text-align: center;
padding-top: 3.5%;
}
.landing-page-text{
    width: 100%;
    height: auto;
    color: white;
    /* background-color: #424447; */
    padding-top: 30px;
    font-family: pop;
    /* padding-bottom: 30px; */
    /* line-height: 40px; */

}
.top-p p{
    /* color: green; */
    font-size: 20px;
    color: #ffffffce;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.top-p i{
  color: #f26ba8;
}
.landing-page-text h1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10px;
    line-height: 40px;
    padding: 20px 0;
}
.landing-heading span{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 20;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.landing-con p{
  color:#ffffff97 ;
  font-size: 15px;
}
.landing-page-btn{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 0;
    /* display  : flex; */
}
.simple-btn{
  font-size: 16px;
    border: none;
    background-color: transparent;
        color: white;
}
.simple-btn i{
    border: 1px solid #017b94;
     /* padding: 0.50rem 1rem;  */
    padding: 9px 9px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 10px;
    color: #017b94;
}
.landing-page-text hr{
    margin-top: 10px;
   /* color: rgba(0, 0, 0, 0.546); */
   border: 1px solid rgba(255, 255, 255, 0.121);
}
.landing-page-bottom-contain{
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 30px 0;
    position: relative;
}
.landing-page-bottom-contain p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.landing-page-bottom-contain i{
    border: 1px solid rgb(255, 255, 255);
     /* padding: 0.50rem 1rem;  */
    padding: 1.5px 1.5px;
    border-radius: 50%;
    font-size: 6px;
    font-weight: 900;
    margin-right: 6px;
    margin-top: 2px;
    font-size: 12px;
    color: #ffffffc7;
    background-color: #f26ba8;
    border: none;
    /* position: absolute; */
    /* margin-left: 10px; */
}


.about-section-class{
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
      border-radius: 20px;
    margin-bottom: 20px;
}
.about-area{
  width: 80%;
  height: auto;
  padding: 60px 30px;
  /* background-color: pink; */
}
.about-top-area{
  width: 100%;
  height: auto;
  display: flex;
    align-items: center;
  justify-content: center;
  gap: 40px;
}
.about-image-container{
  display: flex;
  gap: 20px;
  position: relative;
  /* background-color: #6b9fff; */
}

.round-img img{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 85px;
  border-radius: 50%;
  left: 180px;

}
.content {
   width: 45%;
}
.sub-title {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;
  color: #0b5ed7;
  font-weight: 500;
  margin-bottom: 10px;
}

.main-title {
   
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
  font-family: pop;
  line-height: 50px;
}

.main-title span {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.paragraph {
  font-size: 12px;
  color: #555;
  margin-bottom: 20px;
  font-family:pop;
  /* font-weight: 200; */
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25px;
  color: #333;
  font-weight: 500;
}
/* .features i{
    border: 1px solid rgb(0, 0, 0);
    padding: 3.5px 3px;
    border-radius: 50%;
    font-size: 6px;
    position: relative;
    bottom: 3px;
} */
.features i{
    padding: 1.5px 1.5px;
    border-radius: 50%;
    font-size: 6px;
    font-weight: 900;
    margin-right: 6px;
    margin-top: 2px;
    font-size: 12px;
    color: #ffffffc7;
    background-color: #f26ba8;
}

.about-image-container {
  position: relative;
}

.main-imgs {
  width: 250px;
  height: 370px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.second-imgs {
 width: 250px;
  height: 370px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.about-section-class hr{
    width: 95%;
    margin: 60px 10px;
    position: relative;
    left: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.093); */
}
.about-bottom-features{
  /* background-color: green; */
    display: flex;
    align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: red; */
  /* padding: 30px 0; */
}

.box {
    padding-left: 30px;
  text-align: start;
  width: 250px;
  height: auto;
  /* padding: 0 40px; */
}

.box-1{
    border-left: 1px solid #00000061;
}
.box-2{
    border-left: 1px solid #00000061;
}

.icon {
  font-size: 25px;
  color: #0b5ed7;
  margin-bottom: 10px;
}

.box h3 {
  font-size: 20px;
  color: #222;
  margin-bottom: 5px;
}

.box p {
  font-size: 15px;
  color: #666;
} 
.recipe-section{
  width: 100%;
  height: auto;
  /* background-color: red; */
}
.recipe-section-area{
  width: 100%;
  height: auto;
  padding: 60px 100px;
      border-radius: 20px;
    margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}
.recipe-content{
  /* width: 100%; */
  /* background-color: yellow; */
  text-align: center;
  padding: 0 20px;

}
.recipe-sub-title {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;
  color: #0b5ed7;
  font-weight: 500;
  margin-bottom: 10px;
}

.recipe-main-title {
   font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
  font-family: pop;
  line-height: 40px;
}



.recipe-main-title span {
    font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}
.recipe-content p{
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  padding: 0 60px;
}
.recipe-bottom-area{
  width: 100%;
  height: auto;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.recipe-part-area{
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 50px;
  margin-top: 120px;
  /* background-color: rgb(255, 0, 0); */
}
.part-content{
  display: flex;
  align-items: center;
  /* justify-content: end; */
  gap: 15px;
  /* background-color: yellow; */
  /* line-height: 30px; */
  /* padding: 10px 30px; */
}
.part-img img{
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.part-title h1{
  font-size: 20px;
  /* padding-bottom: 10px; */
}
.part-title p{
padding: 7px 0;
}
.part-title a{
  text-decoration: none;
  font-style: italic;
}
.recipe-part2{
   width: 400px;
  height: 500px;
  /* background-color: blue; */
        background: url(./assets/overlBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.recipe-part2-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end ;
  gap: 30px;
  /* background-color: rgba(213, 3, 38, 0.404); */


}
.recipe-part2-content{
text-align: center;
margin-bottom: 30px;
}
.recipe-part2-content h1{
  font-style: italic;
  font-size: 40px;
}
.recipe-part2-content p{
  padding: 10px 0;
  font-size: 17px;
}
.recipe-part2-box img{
  width: 330px;
  height: 230px;
}
.second-btn{
  font-size:15px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: #017b94;
}
.second-btn i{
  font-size: 20px;
  font-weight: 400;
  color: #f26ba8;
}
.product-section{
  width: 100%;
  height: auto;
  /* background-color: red; */
  padding: 90px 70px;
        border-radius: 20px;
    margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
}
.product-box-area{
  width: 100%;
  height: auto;
  /* background-color: yellow; */
  margin: 60px 0;
}
.product-box-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.productbox{
  width: 300px;
  height: 350px;
  background-color: #faf7f5;
  padding-top:35px ;
  padding-left: 35px;
  border: 1px solid transparent;
  border-radius: 20px;
    /* padding: 20px 20px; */
}
.product-box-content img {
  width: 230px;
  height: 230px;
/* margin-left: 15px; */
}
.product-box-content p{
margin-top: 20px;
margin-bottom: 5px;
}


.certificate-section{
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.certificate-content{
  width: 50%;
  /* background-color: red; */
  text-align: center;
  padding: 20px 50px;
}
.swiper-box{
  width: 100%;
  height: auto;
  padding: 80px 50px;
  /* background-color: red; */
}
.swiper .mySwiper{
  width: 100%;
  height: auto;
}
.swiper-slide{
  width: 230px;
  height: auto;
  /* background: #000; */
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.swiper-slide img{
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  /* border-radius: 20px; */
}


.footer-section{
  width: 100%;
  height: auto;
  /* background-color: red; */
  border-radius: 20px;
  color: white;
  margin: 20px 0;
}
.footer-section-content{
  width: 100%;
  height: auto;
  background-color: #017b94;
  padding: 70px 100px;
  border-radius: 20px;
}
.footer-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.left-area{
  width: 35%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: space-around; */
  gap: 30px;
    list-style: none;
}
.left-area a{
  text-decoration: none;
  color: white;
}
.footer-logo img{
  width: 150px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.footer-anchor{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  /* justify-content: space-around; */
}
.left-content h2{
  font-size: 20px;
}
.left-content p{
  font-size: 16px;
padding: 5px 0;
}
.right-area{
  width: 50%;
  height: auto;
  /* background-color: yellow; */
  padding: 30px 0 0 20px;
}
.right-area h2{
  font-size: 20px;
  padding-bottom: 15px;
}
.right-area p{
  padding-bottom:30px ;
}
.input-area{
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  padding: 10px 0;
}
#email-id{
  padding: 10px 20px;
  width: 350px;
  background-color: #19889e;
  border-color: transparent;
  border-radius: 5px 0 0 5px;
}

::placeholder{
  color: white;
}
.sub-btn{
   padding: 10px 50px;
     border-radius:0 5px 5px 0;
     background-color: #f26ba8;
     color: white;
     border-color: transparent;
}

.footer-icon{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;
  padding: 20px 0;
  /* background-color: red; */
  margin: 20px 0;
}
.footer-i{
  display: flex;
  gap: 20px;
  /* margin-bottom: 10px; */
}
.footer-icon h2{
  margin-top: 10px;
}
.footer-i i{
border: 1px solid white;
padding: 5px 5.9px;
border-radius: 50%;
background-color: white;
color: #f26ba8;
font-size: 20px;
}
.footer-section-content hr{
  width: 90%;
  /* padding: 0 200px; */
  margin: 0 40px;
  border-color: rgba(255, 255, 255, 0.346);
}
.footer-bottom-area{
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.footer-barea{
  display: flex;
    display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
 /* background-color: red; */
 padding: 20px 0;
}
.policy{
  display: flex;
  align-items: center;
  gap: 20px;
}





